<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    This Splurty app was built by Geoff.
  </p>
  <br />
  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>
  </div>
  <p>
    He's just starting his journey into the programming/general tech path, with only a vague idea of what's to come. Wish him luck.
  </p>
  <br />
  <p>
    If you want to see the programming course he's taking, click <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <br class="clear" />
  <br />
  <br />

</div>